<head>
    <meta charset="utf-8">
  
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css" crossorigin>
  
  </head>

  <body>
    <div class="container-fluid mt-5">
      <a class="btn btn-danger" href="/" role="button" style="float: left;">Back</a>
        <div class="d-flex justify-content-center row">
        <form class="span12" action="/addAspek" method="POST"  style="width: 800px;">
            <div class="form-group">
                <label for="inputParameter">Judul Aspek</label>
                <input type="text" class="form-control" id="inputAspek" name="inputAspek" placeholder="Mohon judul Aspek">
            </div>
            <div class="form-group">
              <label for="inputParameter">Index Aspek</label>
              <input type="text" class="form-control" id="inputNoAspek" name="inputNoAspek" placeholder="Mohon input index Aspek">
            </div>                
            <div class="form-group">
                <label for="exampleInputEmail1">Bobot</label>
                <input type="text" class="form-control" id="inputBobot" name="inputBobot" placeholder="Mohon input Bobot">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>


  </body>